body {
    text-align: center;
    background-color: lightblue;
    padding-top: 800px;
    margin: 0;
}

#profile {
    border-radius: 50%;
    height: 200px;
    width: 175px;

    margin-bottom: 50px;
    margin-top: 100px;
}

#welcome {
    background: linear-gradient(#07f045 0%, #f70ad4 100%);
    position: absolute;
    height: 100%;
    width: 100%;
    display: table;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 9;
    font-family: Syne Mono;
}

#bio {
    padding-top: 100px;
    font-size: 25px;
    height: 100%;
    text-align: center;
    font-family: Syne Mono;
}

.line {
    height: 6px;
    width: 80px;
    background-color: black;
    margin: 80px auto;
}

#mum {
    font-size: 50px
}

.menu {
    list-style: none;
    position: fixed;
    top: 0px;
    z-index: 10;
    cursor: pointer;
    margin-top: 0px;
    background: #ffa200;
    width: 100%;
    height: 40px;
}

h1 {
    font-size: 70px;
}

a {
    text-decoration: none;
}

.links {
    color: purple;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 9px;
    padding-right: 9px;
    font-family: Syne Mono;
    display: inline;
    font-size: 30px;
}

.links:hover {
    background-color: blue;
}

.articles:hover {
    color: darkgray;
}

#contacts h3 {
    display: inline;
    font-size: 20px;
}

#contacts h4 {
    display: inline;
    font-size: 20px;
}

#contacts iframe {
    width: 90%;
}

#contacts {
    background-color: firebrick;
}

#contacts h2 {
    display: inline;
    font-size: 20px;
}
